body { 
	background-color: lightgrey !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel {
	max-width: 500px;
	margin: 0 auto;
	height: auto;
}

.carousel-inner {
	margin-bottom: 25px	;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-indicators {
	bottom: -25px;
}

.carousel-control-prev {
	left: -50px;
}

.carousel-control-next {
	right: -50px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.table {
	background-color: white;
}

#about-us {
	text-align: center;
}