body { 
	background-color: lightgrey !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel {
	max-width: 80%;
	margin: 0 auto;
	height: auto;
}

.carousel-inner {
	margin-bottom: 0;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-control-prev {
	left: -10%;
	bottom: 15%;
}

.carousel-control-next {
	right: -10%;
	bottom: 15%;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.table {
	background-color: white;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

#about-us {
	text-align: center;
}